#header{
    height: 50px;
    background-color: #161616;
    color: #fff;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited {
    color: #161616;
}

div.breadcrumbs {
    background-color: #d18600;
}

div.breadcrumbs a{
    color: #333;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #d18600;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #161616;
}